body{
    background:  rgba(6, 143, 207, 0.849);
    font: normal 15pt Arial
}

header {
    color: rgb(216, 213, 213);
    text-align: center;
}

section {
    background: rgb(216, 213, 213);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

footer {
    margin-top: 10px;
    color: rgb(216, 213, 213);
    text-align: center;
    font-style: italic;
    font-size: small;
}

div{
    margin-top: 10px;
}

.content {
    font: normal 12pt Arial;
    max-width: 200px;
    max-height: 200px;
    background: rgba(45, 90, 105, 0.637);
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
}